snippet proj "Project Template" !b
# Ziel
$1

# Schritte
- $2

---

# Notizen
endsnippet

snippet issue "Issue Template" !b
# Project
- $1

# Subtasks
- $2

Pomodori:
Progress:

---

# Notes
endsnippet
