neovim
pynvim
python-language-server
pyflakes
pylint
pylint-django
pytest
pytest-xdist
pytest-testmon
pytest-cov
pytest-django
pytest-watch
pyaml
rope
ropevim
autopep8
pdbpp
coverage
pre-commit
black==21.7b0
isort
