neovim
j2cli
pynvim
python-language-server
pylint
pylint-django
pytest
pytest-xdist
pytest-testmon
pytest-cov
pytest-django
pytest-json-report
pyaml
rope
ropevim
autopep8
pdbpp
coverage
pre-commit
black
mdformat
mdformat-tables
redminecli
